<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	">
	<!-- Solr -->
	<bean id="solrServerFactory" class="com.company.seed.solr.local.core.SolrServerFactoryBean"/>
	<!-- multicoreSupport="true"
	<solr:repositories base-package="com.company.seed.module.solr" multicore-support="true"
			solr-client-ref="solrClient">
	</solr:repositories>
	<bean id="solrClient" class="org.apache.solr.client.solrj.SolrClient" />-->

</beans>