<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- dubbo -->
	<dubbo:application name="biz-seed-web" owner="biz-seed" organization="company" />
	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"
					timeout="15000" file="${user.home}/dubbo-registry/dubbo-registry-${logger.app}.cache"/>
	<dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />
	<!-- 监控中心配置，protocol="registry"，表示从注册中心发现监控中心地址 -->
	<dubbo:monitor protocol="${dubbo.monitor.protocol}"/>
	<dubbo:consumer check="false" timeout="15000"/>
</beans>

