#header {
  background-color: #333;
  height: 50px;
  line-height: 50px;
  color: #fff;
}

.header-wrapper {
  width: 1000px;
  margin:0 auto;
  color: #fff;
}

.side-left {
  float: left;
  width: 131px;
  height: 22px;
  /*background-image: url(../../assets/img/xf-logo.png); */
  margin-top: 14px;
}

.side-right {
  float: right;
}

.telphone {
  font-size: 18px;
}
